# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Azure VM MySQL DB
DATABASE_URL="SURPRISE!🫢"

# HTTPS certs
KEY_PATH="I am a key path"
CERT_PATH="I am a cert path"
